workflows/Busqueda de informacion Boletines SOC.json
{"createdAt":"2025-06-10T20:38:55.160Z","updatedAt":"2025-07-08T20:28:30.000Z","id":"KT5Q2p6ttQTUIEQ5","name":"Busqueda de informacion Boletines SOC","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"607c48c9-ca46-4a2a-8fb7-d90f0188feab","name":"urls","value":"=[\n  \"https://talosintelligence.com/\",\n  \"https://blog.talosintelligence.com/\",\n  \"https://otx.alienvault.com/\",\n  \"https://threatfox.abuse.ch/\",\n  \"https://www.cisa.gov/news-events/alerts\",\n  \"https://attack.mitre.org/\",\n  \"https://tdm.socprime.com/\"\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,-260],"id":"6e5fe6d3-e4da-4a81-bd1f-e9742f38fcd8","name":"Edit Fields"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,-100],"id":"92454f95-86a9-4e3e-abeb-95951c3a2edd","name":"Loop Over Items"},{"parameters":{"operation":"insert","collection":"reportes_soc","fields":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[2160,220],"id":"d7a99a03-2229-43e3-bbc9-6199204db6fc","name":"MongoDB","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-260,-260],"id":"ff5fc5ee-7fe5-4808-95eb-d7162c0c1aa4","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1740,420],"id":"f8ee8184-697a-4d3a-8627-6117c195f32a","name":"SerpAPI","credentials":{"serpApi":{"id":"ScTpkOBn8GvsLjdG","name":"SerpApi account"}}},{"parameters":{"promptType":"define","text":"=Has sido encargado de analizar la información contenida en la siguiente página web, obtenida de una búsqueda relacionada con ciberseguridad: {{ $('Loop Over Items').item.json.url }}.\n\nTu objetivo principal es identificar y extraer **noticias, reportes o análisis detallados sobre ciberataques, brechas de seguridad o incidentes significativos que hayan afectado a empresas o instituciones recientemente**.\n\nSi la página es una herramienta de análisis (como VirusTotal o URLscan.io) y no un portal de noticias o un blog de inteligencia, **prioriza la búsqueda de enlaces o referencias a casos de estudio, blogs de investigación o incidentes específicos** que puedan estar documentados en ella, en lugar de intentar extraer un reporte general. Si no encuentra ninguna referencia directa a un ciberataque significativo o noticia relevante, responda con la frase indicada.\n\nSi se encuentra información relevante sobre un ciberataque, extrae los eventos clave y elabora un resumen detallado.\n\nDevuelve el resultado en formato **Markdown**, con la siguiente estructura clara y útil:\n\n---\n### 🗓 Fecha del Incidente / Publicación:\nIndica la fecha **específica del incidente de ciberseguridad** si está mencionada. Si no, usa la fecha de publicación del artículo o la fecha más relevante para el evento.\n\n---\n### 🌐 Fuente del Reporte:\nIndica la **URL exacta** del reporte o artículo.\n\n---\n### 📝 Resumen del Ciberataque:\nResume los hechos clave de manera concisa y clara. Asegúrate de incluir y destacar:\n- La **Empresa o Institución Afectada** (nombre completo y sector, si es posible).\n- El **Tipo de Ataque Específico** (Ej: ataque de ransomware, explotación de vulnerabilidad de día cero, campaña de phishing dirigida, DDoS, inyección SQL, compromiso de cadena de suministro, etc.).\n- El **Impacto Directo del Ataque** (Ej: filtración de datos sensibles/personales, interrupción prolongada de servicios/operaciones, pérdida financiera significativa, acceso no autorizado a sistemas críticos).\n- Los **Actores de la Amenaza** (si se conocen y mencionan: nombre del grupo de hackers, atribución a un estado, etc.).\n- **Método de Entrada Inicial** (si se detalla: Ej: a través de un correo de phishing, vulnerabilidad en un software específico, credenciales robadas, etc.).\n\n---\n### 📌 Análisis y Conclusiones Clave:\nDescribe el impacto general y las implicaciones del incidente. Incluye:\n- **Lecciones Aprendidas o Recomendaciones** de seguridad derivadas del incidente (si las proporciona el artículo).\n- **Acciones Tomadas** por la empresa afectada o autoridades (Ej: inicio de investigación forense, fortalecimiento de defensas, comunicación con clientes).\n- **Relevancia del Ataque** para el panorama general de la ciberseguridad.\n\n---\n### 🚨 Nivel de Alerta:\nEvalúa el nivel de riesgo o impacto del incidente descrito. Usa uno de los siguientes:\n- **Bajo** 🟢 (Incidente menor, impacto limitado, rápida resolución).\n- **Moderado** 🟡 (Impacto significativo pero controlado, recuperación en curso, no hay amenaza inminente para otros).\n- **Alto** 🔴 (Brecha de datos confirmada, interrupción de servicios crítica, potencial para afectar a terceros).\n- **Crítico** 🔥 (Impacto masivo, amenazas persistentes, ataque en curso con consecuencias graves, afectación a infraestructura crítica o datos de gran volumen/sensibilidad).\n\n### 🚨 Agregar referencia del sitio consultado\n\n---\n\nSi la URL no contiene información directamente útil sobre ciberataques recientes a empresas o instituciones, responde **únicamente** con la siguiente frase:\n\n> **No se encontró información relevante sobre ciberataques en esta URL.**","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1520,160],"id":"eeb44c72-c4aa-42e6-8da0-26e3111b02f6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,360],"id":"f473307e-6744-44fd-940c-6eb8cd102ea4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"const urls = items[0].json.urls;\n\nreturn urls.map(url => {\n  return {\n    json: {\n      url: url\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-200],"id":"d465854f-af51-4d70-880a-6653650b1c24","name":"Code"},{"parameters":{"collection":"reportes_soc","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1260,-400],"id":"7bb9a1e4-c16f-406f-aef9-6580362806b3","name":"MongoDB1","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{"promptType":"define","text":"=Has recibido **múltiples y diversos informes individuales** de ciberseguridad sobre ataques y amenazas recientes. Estos informes están unificados en la siguiente entrada:\n\n**Contenido de los Informes:**\n{{ $json.reporte_ciberseguridad_unificado }}\n\nTu tarea es:\n\n1.  Leer y **analizar CUIDADOSAMENTE TODOS los resúmenes y datos** proporcionados en la sección \"Contenido de los Informes\".\n2.  **Sintetizar y CONSOLIDAR la información de TODOS los informes para detectar patrones comunes, actores de amenazas recurrentes, vectores de ataque prevalentes, industrias más afectadas y cualquier tendencia global significativa en ciberseguridad.**\n3.  Generar un **informe ejecutivo unificado, claro y conciso**, resumiendo los puntos más críticos de todos los reportes, que pueda ser enviado por correo a un equipo de ciberseguridad.\n4.  Presentar el resultado en **formato Markdown**, siguiendo estrictamente la siguiente estructura. Asegúrate de que los detalles del análisis reflejen la **síntesis de MÚLTIPLES ataques/amenazas**, no el análisis de una única URL.\n\n---\n\n## 🛡️ Informe General de Ciberseguridad\n\n### 📅 Fecha del reporte:\n día de generación\n{{ $today }}\n\n### 🔍 Análisis Consolidado:\n(Sintetiza los eventos clave de **todos los informes**, actores repetidos, vectores de ataque comunes, industrias más afectadas, impacto general de los ataques recientes)\n\n### 📌 Tendencias Relevantes:\n- (Lista de **2 a 5 puntos** con tendencias o patrones detectados a partir de la **consolidación de los informes**; por ejemplo, aumento de ransomware en X sector, nuevas técnicas de phishing, explotación de vulnerabilidades específicas).\n\n### 🚨 Nivel de Alerta General:\n(Selecciona entre Bajo 🟢, Moderado 🟡, Alto 🔴, Crítico 🔥. Basado en la **severidad y frecuencia de las amenazas consolidadas**.)\n\n### 🧠 Recomendaciones Estratégicas:\n- (Incluir **2 o 3 sugerencias de alto nivel** para el equipo de seguridad, aplicables a las tendencias y amenazas consolidadas. Deben ser accionables).\n\n### 🌐 Referencia de donde viene la información\n- Agregar referencias de donde viene la información \n{{ $('Edit Fields').all().toJsonString() }}\n\n### GreyNoise\n- intentemos revisar si hay ips reportadas con indicadores de compromiso publicos\n---\n## Devuelve la respuesta en el siguiente formato JSON:\n\n```json\n{\n  \"markdown\": \"<AQUÍ EL INFORME EN MARKDOWN>\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2080,-460],"id":"4fa80887-514b-447f-8def-db4784b8c404","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2080,-260],"id":"a19c310d-7725-4eed-a823-85850076fbf3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"toRecipients":"=cbautista@ifxcorp.com","subject":"=Resumen RFP client_empresa_demo","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2840,-460],"id":"9a36d084-5d93-474d-8806-a24a7b828fa3","name":"Send Mail","webhookId":"4d4b099c-c77e-49cd-924d-254b0d51e936","credentials":{"microsoftOutlookOAuth2Api":{"id":"zrNdsL9SZMvBfPt3","name":"Microsoft Outlook cbautista"}}},{"parameters":{"jsCode":"// Este código asume que el nodo 'Code' recibe un array de ítems.\n// 'items' es una variable global en n8n que contiene la entrada de datos.\n\nconst allUnifiedSummaries = [];\n\nfor (const item of items) {\n  let currentSummaryParts = [];\n\n  // Obtenemos todas las claves del objeto JSON actual\n  const keys = Object.keys(item.json);\n\n  for (const key of keys) {\n    // Ignoramos la clave '_id' ya que no forma parte del contenido del resumen\n    if (key === '_id') {\n      continue;\n    }\n\n    // Añadimos la clave actual a las partes del resumen\n    // Aquí es donde \"recolectamos\" el texto que está en las claves rotas\n    currentSummaryParts.push(key);\n  }\n\n  // Unimos todas las partes recolectadas con saltos de línea doble para mantener el formato Markdown\n  // Esto reconstruirá el texto completo del resumen a partir de las claves del JSON\n  const unifiedSummary = currentSummaryParts.join('\\n\\n');\n  allUnifiedSummaries.push(unifiedSummary);\n}\n\n// Unimos todos los resúmenes unificados de cada ítem en un solo texto final\n// Si tienes múltiples ítems de entrada (ej. de diferentes URLs), esto los consolidará todos\nconst finalCombinedSummary = allUnifiedSummaries.join('\\n\\n---\\n\\n'); // Separador más claro entre reportes si hay varios\n\n// n8n espera que el nodo Code/Function retorne un array de objetos.\nreturn [\n  {\n    json: {\n      reporte_ciberseguridad_unificado: finalCombinedSummary // La clave ahora contendrá todo el reporte reconstruido\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,-460],"id":"c937c890-1ec3-4777-8294-937669cc5f7a","name":"Code1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[840,-320],"id":"510c386c-4886-47b4-9d6f-4bffdba08e90","name":"Aggregate"},{"parameters":{"options":{"hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1020,180],"id":"1e82b8ac-2a8a-41bc-a15f-74c465b0b3f2","name":"SerpAPI1","credentials":{"serpApi":{"id":"ScTpkOBn8GvsLjdG","name":"SerpApi account"}}},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,180],"id":"3ebbd59a-6570-46de-a9aa-c9aa5d02e47b","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"options":{"hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1720,20],"id":"e32ff925-fdaf-4e41-be87-cc509e582c5c","name":"SerpAPI2","credentials":{"serpApi":{"id":"ScTpkOBn8GvsLjdG","name":"SerpApi account"}}},{"parameters":{"promptType":"define","text":"=Has recibido el resultado de un análisis de seguridad de una herramienta especializada, disponible en la siguiente URL o conteniendo la información a continuación: {{ $('Loop Over Items').item.json.url }}\n\nTu objetivo es interpretar este reporte técnico para identificar si el elemento analizado (URL, IP, hash de archivo, dominio, etc.) está asociado con **actividad maliciosa, ciberataques, vulnerabilidades conocidas o compromisos**.\n\nSi el reporte indica actividad maliciosa, extrae los hallazgos clave y elabora un resumen detallado.\n\nDevuelve el resultado en formato **Markdown**, con la siguiente estructura clara y útil:\n\n---\n### 🔍 Elemento Analizado:\nIndica el tipo de elemento (URL, IP, Hash, Dominio) y su valor exacto (Ej: `URL: https://phishing.example.com`).\n\n---\n### 🛠 Herramienta de Análisis:\nMenciona la herramienta utilizada para generar el reporte (Ej: `VirusTotal`, `URLscan.io`, `AbuseIPDB`).\n\n---\n### 📝 Resumen del Análisis de Seguridad:\nResume los hallazgos clave del reporte. Menciona:\n- **Indicación de Maliciosidad:** ¿Es detectado como malicioso, sospechoso, limpio o desconocido?\n- **Detalles Relevantes:** (Según la herramienta)\n    -   Para URLs/Archivos: Detecciones de antivirus, comportamientos observados (Ej: descarga de payload, intentos de phishing, redirecciones), comunicación con C2.\n    -   Para IPs: Número de reportes de abuso, lista negra (blacklist) a la que pertenece, tipo de actividad reportada (Ej: escaneo, botnet, ataque DDoS).\n    -   Para Dominios: Relación con campañas de phishing, registro reciente, uso de certificados sospechosos.\n- **Riesgos Potenciales:** Qué representa este elemento (Ej: vector de infección, servidor de comando y control, infraestructura de phishing).\n\n---\n### 📌 Conclusiones de Seguridad:\nDescribe el impacto de seguridad del hallazgo. Incluye:\n- **Contexto del Riesgo:** ¿A qué tipo de ataque podría estar asociado?\n- **Recomendaciones de Acción:** ¿Qué se debería hacer (Ej: bloquear IP/dominio, eliminar correo, no visitar URL, investigar más a fondo)?\n\n---\n### 🚨 Nivel de Alerta:\nEvalúa el nivel de riesgo del elemento analizado. Usa uno de los siguientes:\n- **Bajo** 🟢 (Elemento limpio o riesgo muy bajo).\n- **Moderado** 🟡 (Sospechoso, poca actividad reportada o hallazgos menores).\n- **Alto** 🔴 (Clara indicación de maliciosidad, múltiples detecciones, alto riesgo).\n- **Crítico** 🔥 (Confirmado como parte de un ataque activo, muy alta probabilidad de compromiso, impacto inminente).\n\n### 🚨 Agregar referencia del sitio consultado\n\n---\n\nSi el reporte no indica actividad maliciosa relevante o no se puede interpretar, responde **únicamente** con la siguiente frase:\n\n> **No se encontró actividad maliciosa relevante en este análisis.**","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1520,-240],"id":"2ca29332-e19b-400e-b508-9c94b2001981","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,-40],"id":"a9482e2b-c6ba-4719-a7c5-24bff989ad4f","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a14ec99-5c39-4c49-942e-c3786458f966","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,-80],"id":"5bc63a78-5a8d-4d95-a78c-06c5c12b1cb4","name":"If"},{"parameters":{"promptType":"define","text":"=Basado en la URL que se te proporcionará, determina su función principal en ciberseguridad.\n\nLa URL a clasificar es: {{ $json.url }}\n\nResponde con `True` si el sitio es predominantemente una **fuente de publicación de noticias, artículos, análisis o alertas oficiales sobre ciberataques, vulnerabilidades y tendencias**, con contenido curado o redactado para informar.\n\nResponde con `False` si es predominantemente una **herramienta o plataforma interactiva diseñada para buscar, mapear, analizar, escanear o recopilar datos técnicos (como IOCs, IPs, dominios, malware) relacionados con actividades maliciosas o infraestructura**.\n\nTu respuesta debe ser únicamente `True` o `False`.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[780,-80],"id":"ade3f370-4be5-4907-a7c0-e2238c2ef0ad","name":"Clasificación"},{"parameters":{"jsCode":"/****************************************************************************************\n* NODE CODE — n8n\n* Convierte la salida de un nodo LLM (string u objeto) en HTML embebido en un template\n* con estilos corporativos IFX Networks.\n*\n* 1.  Soporta:\n*     - Cadena que contiene ```json … ``` con un objeto { \"markdown\": \"…\" }\n*     - Cadena de markdown directo\n*     - Objeto JSON ya parseado con la clave markdown\n*\n* 2.  Aplica conversión Markdown → HTML (función formatMarkdownToHtml)\n* 3.  Devuelve: [{ json: { html: <string> } }]\n****************************************************************************************/\n/**\n * EXTRA: Encuentra todas las URLs de estilo markdown [texto](url)\n * @returns Array de strings (las URLs)\n */\nfunction extractLinksFromMarkdown(markdown) {\n\tconst links = [];\n\tconst regex = /\\[(.*?)\\]\\((.*?)\\)/g;\n\tlet match;\n\twhile ((match = regex.exec(markdown)) !== null) {\n\t\tlinks.push(match[2]);\n\t}\n\treturn links;\n}\n\n/* =========================================================================\n   FUNCIÓN AUXILIAR → extrae markdown sin importar el formato de entrada\n   ========================================================================= */\nfunction extractMarkdown(rawOutput) {\n\t// Resultado final\n\tlet markdown = '';\n\n\t/* ------------------------------------------\n\t   Caso A — rawOutput es STRING\n\t   ------------------------------------------ */\n\tif (typeof rawOutput === 'string') {\n\t\t// 1) Elimina fences ```json, ```js o ``` y whitespace inicial/final\n\t\tconst cleaned = rawOutput\n\t\t\t.replace(/^\\s*```(?:json|js)?\\s*/im, '') // abre fence\n\t\t\t.replace(/\\s*```$/m, '') // cierra fence\n\t\t\t.trim();\n\n\t\t// 2) Intenta parsear como JSON\n\t\ttry {\n\t\t\tconst parsed = JSON.parse(cleaned);\n\t\t\tmarkdown = parsed.markdown || '';\n\t\t} catch (err) {\n\t\t\t// 3) Si no es JSON válido, asumimos markdown puro\n\t\t\tmarkdown = cleaned;\n\t\t}\n\n\t/* ------------------------------------------\n\t   Caso B — rawOutput ya es OBJETO\n\t   ------------------------------------------ */\n\t} else if (rawOutput && typeof rawOutput === 'object') {\n\t\tmarkdown = rawOutput.markdown || '';\n\t}\n\n\treturn markdown;\n}\n\n/* =========================================================================\n   FUNCIÓN PRINCIPAL → Markdown → HTML embebido en template\n   ========================================================================= */\nfunction formatMarkdownToHtml(markdown) {\n\t// Si el markdown está vacío o nulo, retorna una cadena vacía\n\tif (!markdown) {\n\t\tconsole.warn('formatMarkdownToHtml: Markdown de entrada vacío o nulo.');\n\t\treturn '';\n\t}\n\n\tlet html = markdown;\n    const foundLinks = extractLinksFromMarkdown(markdown);\n\t// ---------- 1) Conversión Markdown → HTML puro ----------\n\n\t// Regla horizontal --- → <hr>\n\thtml = html.replace(\n\t\t/^---\\s*$/gm,\n\t\t'<hr style=\"border:0;height:1px;background-color:#e9ecef;margin:30px 0;\">'\n\t);\n\n\t// Títulos H1-H4\n\thtml = html.replace(/^(#+)\\s*(.*?)$/gm, (match, hashes, titleText) => {\n\t\tconst hLevel = hashes.length;\n\t\tconst styles = [\n\t\t\t'font-size:32px;color:#0a1f44;font-weight:800;margin:30px 0 12px;padding-bottom:6px;border-bottom:3px solid #0071ce;line-height:1.2;font-family:Segoe UI,Roboto,sans-serif;',\n\t\t\t'font-size:28px;color:#123c69;font-weight:700;margin:26px 0 10px;padding-bottom:4px;border-bottom:2px solid #0071ce;line-height:1.2;',\n\t\t\t'font-size:24px;color:#1a1a1a;font-weight:600;margin:22px 0 8px;padding-bottom:2px;border-bottom:1px solid #ccc;line-height:1.2;',\n\t\t\t'font-size:22px;color:#333;font-weight:600;margin:18px 0 6px;line-height:1.2;',\n\t\t];\n\t\tconst styleToApply = styles[Math.min(hLevel - 1, styles.length - 1)];\n\t\treturn `<h${hLevel} style=\"${styleToApply}\">${titleText}</h${hLevel}>`;\n\t});\n\n\t// Negritas **texto**\n\thtml = html.replace(\n\t\t/\\*\\*(.*?)\\*\\*/g,\n\t\t'<strong style=\"font-weight:bold;color:#041e42;\">$1</strong>'\n\t);\n\n\t// Enlaces [texto](url)\n\thtml = html.replace(\n\t\t/\\[(.*?)\\]\\((.*?)\\)/g,\n\t\t'<a href=\"$2\" style=\"color:#0071ce;text-decoration:none;\">$1</a>'\n\t);\n\n\t// Listas - item\n\thtml = html.replace(\n\t\t/^- (.*?)$/gm,\n\t\t'<li style=\"margin-bottom:5px;font-size:16px;line-height:1.5;\">$1</li>'\n\t);\n\n\t// Agrupar LI en UL\n\tconst groupedLines = [];\n\tlet inList = false;\n\tfor (const line of html.split('\\n')) {\n\t\tif (line.trim().startsWith('<li')) {\n\t\t\tif (!inList) {\n\t\t\t\tgroupedLines.push(\n\t\t\t\t\t'<ul style=\"margin-left:10px;padding-left:20px;margin-bottom:10px;\">'\n\t\t\t\t);\n\t\t\t\tinList = true;\n\t\t\t}\n\t\t\tgroupedLines.push(line);\n\t\t} else {\n\t\t\tif (inList) {\n\t\t\t\tgroupedLines.push('</ul>');\n\t\t\t\tinList = false;\n\t\t\t}\n\t\t\tgroupedLines.push(line);\n\t\t}\n\t}\n\tif (inList) groupedLines.push('</ul>');\n\thtml = groupedLines.join('\\n');\n\n\t// Tablas markdown\n\thtml = html.replace(/((?:^\\|.*\\|\\s*\\n?)+)/gm, (match) => {\n\t\tconst rows = match\n\t\t\t.trim()\n\t\t\t.split('\\n')\n\t\t\t.map((r) => r.trim().split('|').filter((c) => c.trim()));\n\t\tconst header = rows[0];\n\t\tconst body = rows\n\t\t\t.slice(1)\n\t\t\t.filter((r) => !r.every((c) => /^-+$/.test(c)));\n\t\tconst thead = `<thead><tr>${header\n\t\t\t.map(\n\t\t\t\t(h) =>\n\t\t\t\t\t`<th style=\"border:1px solid #ccc;padding:8px 12px;text-align:left;background-color:#0071ce;color:#fff;\">${h.trim()}</th>`\n\t\t\t)\n\t\t\t.join('')}</tr></thead>`;\n\t\tconst tbody = `<tbody>${body\n\t\t\t.map((row) => {\n\t\t\t\tconst rowCells = row\n\t\t\t\t\t.map(\n\t\t\t\t\t\t(c) =>\n\t\t\t\t\t\t\t`<td style=\"border:1px solid #ccc;padding:8px 12px;text-align:left;\">${c.trim()}</td>`\n\t\t\t\t\t)\n\t\t\t\t\t.join('');\n\t\t\t\treturn `<tr>${rowCells}</tr>`;\n\t\t\t})\n\t\t\t.join('')}</tbody>`;\n\t\treturn `<table style=\"border-collapse:collapse;width:100%;margin:20px 0;font-size:14px;\" class=\"markdown-table\">${thead}${tbody}</table>`;\n\t});\n\n\t// Párrafos y saltos de línea\n\thtml = html.replace(/\\n\\n+/g, '</p><p style=\"margin-bottom:10px;\">');\n\thtml = html.replace(\n\t\t/(?<!<\\/h[1-6]>|<hr>|<\\/ul>|<p>)\\n(?!<h[1-6]>|<hr>|<ul>|<p>)/g,\n\t\t'<br/>'\n\t);\n\tif (\n\t\t!html.trim().startsWith('<h') &&\n\t\t!html.trim().startsWith('<ul') &&\n\t\t!html.trim().startsWith('<table') &&\n\t\t!html.trim().startsWith('<hr') &&\n\t\t!html.trim().startsWith('<p')\n\t) {\n\t\thtml = `<p style=\"margin-bottom:10px;\">${html}</p>`;\n\t}\n\thtml = html\n\t\t.replace(/<\\/h[1-6]><br\\/>/g, (m) => m.replace('<br/>', ''))\n\t\t.replace(/<\\/ul><br\\/>/g, '</ul>')\n\t\t.replace(/<\\/p><p style=\"margin-bottom:10px;\">/g, '')\n\t\t.replace(/^<p style=\"margin-bottom:10px;\"><\\/p>/, '')\n\t\t.replace(\n\t\t\t/<p style=\"margin-bottom:10px;\"><hr style=\"border:0;height:1px;background-color:#e9ecef;margin:30px 0;\"><\\/p>/g,\n\t\t\t'<hr style=\"border:0;height:1px;background-color:#e9ecef;margin:30px 0;\">'\n\t\t);\n  // 👉 NUEVO: Agregar sección de referencias al final\n    if (foundLinks.length > 0) {\n    \tconst referencesSection = `\n    \t\t<hr style=\"border:0;height:1px;background-color:#e9ecef;margin:30px 0;\">\n    \t\t<h2 style=\"font-size:24px;color:#1a1a1a;font-weight:600;margin:22px 0 8px;padding-bottom:2px;border-bottom:1px solid #ccc;line-height:1.2;\">\n    \t\t\tReferencias encontradas\n    \t\t</h2>\n    \t\t<ul style=\"margin-left:10px;padding-left:20px;margin-bottom:10px;\">\n    \t\t\t${foundLinks\n    \t\t\t\t.map(\n    \t\t\t\t\t(url) =>\n    \t\t\t\t\t\t`<li style=\"margin-bottom:5px;font-size:16px;line-height:1.5;\"><a href=\"${url}\" style=\"color:#0071ce;text-decoration:none;\">${url}</a></li>`\n    \t\t\t\t)\n    \t\t\t\t.join('\\n')}\n    \t\t</ul>\n    \t`;\n    \thtml += referencesSection;\n    }\n\n\n\t// ---------- 2) Template completo ----------\n\n\tconst formattedHTML = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Informe de Ciberseguridad</title>\n<style>\n\tbody{font-family:Arial,Helvetica,sans-serif;background-color:#f4f6f8;margin:0;color:#2c3e50;}\n\t.container{max-width:700px;margin:40px auto;background:#fff;border-radius:8px;box-shadow:0 2px 8px rgba(44,62,80,0.07);padding:0 0 30px;}\n\t.header{padding:40px 40px 20px;border-bottom:1px solid #e9ecef;text-align:left;background:#232a34;border-radius:8px 8px 0 0;}\n\t.header-row{display:flex;align-items:center;gap:28px;}\n\t.header-titles{display:flex;flex-direction:column;gap:2px;}\n\t.header-titles .title,.header-title-main{color:#fff;}\n\t.header-titles .title{font-size:24px;font-weight:600;margin-bottom:2px;}\n\t.header-title-main{font-size:28px;font-weight:700;margin:0;}\n\t.logo{max-width:180px;height:auto;margin-bottom:20px;}\n\t.footer{background:#232a34;color:#e0e0e0;padding:32px 40px 24px;border-radius:0 0 8px 8px;font-size:13px;text-align:left;margin-top:32px;}\n\t.footer-logo{max-width:110px;height:auto;margin-bottom:10px;}\n\t.footer-title{font-weight:700;color:#fff;margin-bottom:4px;font-size:15px;}\n\t.footer-row{display:flex;gap:32px;margin-top:12px;}\n\t.footer-info{flex:1;line-height:1.7;font-size:13px;color:#e0e0e0;}\n\t.markdown-table tr:nth-child(even) td{background:#f9f9f9;}\n\t.emoji{font-family:\"Segoe UI Emoji\",\"Noto Color Emoji\",\"Apple Color Emoji\",sans-serif;}\n</style>\n</head>\n<body>\n\t<div class=\"container\">\n\t\t<div class=\"header\">\n\t\t\t<div class=\"header-row\">\n\t\t\t\t<img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"logo\">\n\t\t\t\t<div class=\"header-titles\">\n\t\t\t\t\t<div class=\"title\">Bienvenido a</div>\n\t\t\t\t\t<div class=\"header-title-main\">IFX Networks</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div style=\"font-size:15px;color:#d2d2d2;margin-bottom:10px;\">\n\t\t\t\tGracias por su interés. A continuación encontrará el resumen analítico de su RFP.\n\t\t\t</div>\n\t\t</div>\n\n\t\t<div style=\"padding:32px 40px;\">\n\t\t\t${html}\n\t\t</div>\n\n\t\t<div class=\"footer\">\n\t\t\t<img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"footer-logo\">\n\t\t\t<div class=\"footer-title\">IFX Networks</div>\n\t\t\t<div class=\"footer-row\">\n\t\t\t\t<div class=\"footer-info\">\n\t\t\t\t\t25 años de experiencia en el mercado de las Telecomunicaciones.\n\t\t\t\t</div>\n\t\t\t\t<div class=\"footer-info\">\n\t\t\t\t\tDiagonal 97 No. 17 – 60 piso 4<br>Edificio Centro Empresarial Corporativo<br>Bogotá, Colombia\n\t\t\t\t</div>\n\t\t\t\t<div class=\"footer-info\">\n\t\t\t\t\t+57 (601) 369 3000<br>CARE: +57 (601) 369 3024\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n</body>\n</html>`;\n\n\treturn formattedHTML;\n}\n\n/* =========================================================================\n   EJECUCIÓN DEL NODO\n   ========================================================================= */\nconst llmRawOutput = $input.first().json.output; // Salida del nodo LLM\n\n// 1) Obtener markdown limpio\nconst markdownContent = extractMarkdown(llmRawOutput);\n\n// 2) Convertir a HTML con template corporativo\nconst finalHtmlOutput =\n\tformatMarkdownToHtml(markdownContent) ||\n\tformatMarkdownToHtml(\n\t\t'No se encontraron eventos significativos para el periodo analizado.'\n\t);\n\n// 3) Salida para el siguiente nodo (array de objetos)\nreturn [\n\t{\n\t\tjson: {\n\t\t\thtml: finalHtmlOutput,\n\t\t},\n\t},\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2520,-460],"id":"c25e513c-4c30-4f1f-8ab1-391a3c48e4ff","name":"Code2"}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Clasificación","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MongoDB1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"SerpAPI1":{"ai_tool":[[{"node":"Clasificación","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Clasificación","type":"ai_languageModel","index":0}]]},"SerpAPI2":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"AI Agent3","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Clasificación":{"main":[[{"node":"If","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Send Mail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a96137c8-6005-41e2-a436-03ac21f6969c","triggerCount":0,"tags":[]}