workflows/CB - Recibir Logs FortiSiem.json
{"createdAt":"2025-06-16T15:01:18.710Z","updatedAt":"2025-09-24T21:17:52.000Z","id":"8GoB8H8MKFHQWhSm","name":"CB - Recibir Logs FortiSiem","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"fortisiem","options":{}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-800,-496],"id":"c9b820b3-64ea-456b-9b45-f6397d244ec6","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"t9bSCbxjrJcoO2kT","name":"CB - RabbitMQ AIFX"}}},{"parameters":{"jsCode":"// Access the log content from the RabbitMQ node's output\nconst rawData = items[0].json.content;\n\n// Parse the raw data (which is a JSON string) into a JavaScript object\nconst parsedData = JSON.parse(rawData);\n\n// Extract the 'log' field, which contains the raw FortiGate syslog string\nconst syslogString = parsedData.log;\n\n// Use a regular expression to extract key-value pairs from the syslog string\n// This regex captures key=\"value\" or key=value patterns\nconst regex = /(\\w+)=(\".*?\"|.*?)(?=\\s\\w+=|$)/g;\nlet match;\nconst logObject = {};\n\n// Iterate through all matches and build the final object\nwhile ((match = regex.exec(syslogString)) !== null) {\n  const key = match[1];\n  let value = match[2].trim();\n  \n  // Remove surrounding quotes if they exist\n  if (value.startsWith('\"') && value.endsWith('\"')) {\n    value = value.slice(1, -1);\n  }\n  \n  logObject[key] = value;\n}\n\n// Add the original source IP from your Python script to the parsed object\nlogObject.source_ip = parsedData.source_ip;\n\n// Return the new, clean object for the next nodes in the workflow\nreturn [{ json: logObject }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-496],"id":"852fb25c-147d-4d3c-9686-b868cc6b30cc","name":"Code"},{"parameters":{"operation":"insert","collection":"ia_Logs_FortiSiem","fields":"date, time, devname, devid, type, subtype, level, vd, srcintf","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[16,-592],"id":"d1249b64-8833-4c19-85a2-a19a660236f9","name":"Insert documents","credentials":{"mongoDb":{"id":"AqFE8J1mAxMEpICm","name":"CB - DBMONGOAIFX"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FORTIGATE-IPS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WIN-SECURITY-CREATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"WIN-SECURITY-DESABLE","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"WIN-SECURITY-DESABLE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"WIN-SECURITY-DELETE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WIN-SECURITY-DELETE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69579f2b-9115-47f0-86b1-0a0dd83fbd04","leftValue":"={{ $json.status }}","rightValue":"APP-BLOCK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"APP-BLOCK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c484ad57-a2a4-4ce3-bf22-29c39847288d","leftValue":"={{ $json.status }}","rightValue":"IP-BLOCK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IP-BLOCK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c14a8ed9-7ed6-4eb0-8a2b-8f11cdc5523d","leftValue":"={{ $json.status }}","rightValue":"NO-IDENTIFIED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-368,-576],"id":"d11414f0-3891-4d77-8d4d-20c76fa2b837","name":"Status Process"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[16,-400],"id":"fc320eb3-1aeb-4451-a52b-624dab21733d","name":"Find documents","credentials":{"mongoDb":{"id":"zbcolj89z4clfwzh","name":"CB-MongoDB-Cloud"}}},{"parameters":{"resource":"chatMessage","operation":"sendAndWait","chatId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[448,-592],"id":"1e53e98b-2d6f-4a21-b0fb-1f5175201638","name":"Send message and wait for response","webhookId":"05c989c3-c651-43b3-90fb-be8b9e7778c6","disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-592],"id":"598fe916-c216-4626-8e4d-08249d40c1d0","name":"Code1"}],"connections":{"RabbitMQ Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Status Process","type":"main","index":0}]]},"Status Process":{"main":[[{"node":"Insert documents","type":"main","index":0}],[{"node":"Insert documents","type":"main","index":0}],[{"node":"Insert documents","type":"main","index":0}],[{"node":"Insert documents","type":"main","index":0}],[{"node":"Insert documents","type":"main","index":0}],[{"node":"Insert documents","type":"main","index":0}],[{"node":"Find documents","type":"main","index":0}]]},"Insert documents":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72520347-3a59-49b7-a472-c631b4597fb1","triggerCount":1,"shared":[{"createdAt":"2025-06-16T15:01:18.715Z","updatedAt":"2025-08-13T15:10:47.000Z","role":"workflow:owner","workflowId":"8GoB8H8MKFHQWhSm","projectId":"f6RX0bgoA61ZNo42"}],"tags":[]}