workflows/CB - ConvertFiles.json
{"createdAt":"2025-09-19T19:14:55.953Z","updatedAt":"2025-09-19T19:17:22.000Z","id":"usoJ8XQSlBoldjCs","name":"CB - ConvertFiles","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"convertword","responseMode":"=onReceived","options":{"binaryPropertyName":"Document"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[224,-48],"id":"12515435-d8e0-457a-94b0-769d8103b758","name":"Webhook","webhookId":"90fd164e-74ce-4bc0-a8e2-6a3f3d3f1ec9"},{"parameters":{"jsCode":"// Iteramos sobre los archivos recibidos\nconst files = $input.all();\n\nconst maxFileSize = 20 * 1024 * 1024; // 20MB en bytes\nconst maxFiles = 6;  // Número máximo de archivos por sesión\n\n// Verificamos el número de archivos\nif (files.length > maxFiles) {\n  throw new Error(`Se permiten un máximo de ${maxFiles} archivos por sesión.`);\n}\n\n// Verificamos el tamaño de cada archivo\nfor (let i = 0; i < files.length; i++) {\n  const file = files[i];\n  \n  if (file.binary && file.binary.data) {\n    const fileSize = Buffer.byteLength(file.binary.data);\n    \n    if (fileSize > maxFileSize) {\n      throw new Error(`El archivo ${file.json.fileName} excede el tamaño máximo de 20MB.`);\n    }\n  }\n}\n\nreturn items; // Continuamos con el flujo si todo está bien\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-48],"id":"5bc05aed-f763-4b6d-8083-087740827c2f","name":"Evaluacion # files , peso de archivos"},{"parameters":{"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[816,-48],"id":"198a56f7-46f4-4743-a508-8899f67e244f","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[784,144],"id":"d06ba578-084d-45bd-bbd0-a66d5067e679","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Evaluacion # files , peso de archivos","type":"main","index":0}]]},"Evaluacion # files , peso de archivos":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caf58cd0-802a-4a0c-8118-ddb01777aaf3","triggerCount":0,"shared":[{"createdAt":"2025-09-19T19:14:55.959Z","updatedAt":"2025-09-19T19:14:55.959Z","role":"workflow:owner","workflowId":"usoJ8XQSlBoldjCs","projectId":"f6RX0bgoA61ZNo42"}],"tags":[]}