workflows/CB - Notificaciones FortiSIEM Netsuite.json
{"createdAt":"2025-09-16T20:26:39.227Z","updatedAt":"2025-09-19T21:07:26.000Z","id":"FWkAvzzQEbgcToMj","name":"CB - Notificaciones FortiSIEM Netsuite","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-384,-96],"id":"d40f9993-29de-453a-b56f-c4a2c1c44f6a","name":"Schedule Trigger","disabled":true},{"parameters":{"method":"POST","url":"https://ifx-netsuite-experience-prd.us-e1.cloudhub.io/api/execute/post_script?script=2011&deploy=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"savedSearchID\":\"customsearch_ifx_project_task_in_config\",\n\"actionRest\":1, \"page\":1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,0],"id":"c6b1697f-dd42-406a-a73c-9818f9fd65e3","name":"HTTP Request"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,0],"id":"d83f9d1e-989b-4f38-829f-5d8d8a1f4c27","name":"MapData"},{"parameters":{"promptType":"define","text":"=Eres un analista experto en casos me gustaría construir un reporte con:\n\n🎯 Análicis del la info COMPLETa y entregar una respuesta organizada en FORMATO MARKDOWN, bien estructurada y detallada, con secciones y subtítulos.\n💡 DEBES EXTRAER Y EXPLICAR la información más relevante posible, agrupada en las siguientes secciones\n\n","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[256,0],"id":"b29c36b7-3a5e-4ae3-a87e-69ca76b44f6b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,224],"id":"2cea42fc-1733-4eca-b8d7-748399d96b9e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"// ---------------------------------------------\n// FUNCIÓN: Convierte Markdown → HTML + template\n// ---------------------------------------------\nfunction formatMarkdownToHtml(markdown) {\n\tif (!markdown) return '';\n\n\t//------------------------------------------------------------------\n\t// 1. TÍTULOS, LISTAS, TABLAS, NEGRITAS…  ➜  Se mantiene tu lógica\n\t//------------------------------------------------------------------\n\tlet html = markdown.replace(/^# (.*?)$/gm, (_, titleText, offset, fullText) => {\n\t\tconst index = fullText.slice(0, offset).match(/^# /gm)?.length || 0;\n\t\tconst styles = [\n\t\t\t'font-size: 32px; color: #0a1f44; font-weight: 800; margin: 30px 0 12px; padding-bottom: 6px; border-bottom: 3px solid #0071ce; line-height: 1.2; font-family: Segoe UI, Roboto, sans-serif;',\n\t\t\t'font-size: 28px; color: #123c69; font-weight: 700; margin: 26px 0 10px; padding-bottom: 4px; border-bottom: 2px solid #0071ce; line-height: 1.2;',\n\t\t\t'font-size: 24px; color: #1a1a1a; font-weight: 600; margin: 22px 0 8px; padding-bottom: 2px; border-bottom: 1px solid #ccc; line-height: 1.2;',\n\t\t\t'font-size: 22px; color: #333; font-weight: 600; margin: 18px 0 6px; line-height: 1.2;',\n\t\t];\n\t\treturn `<h1 style=\"${styles[Math.min(index, styles.length - 1)]}\">${titleText}</h1>`;\n\t});\n\n\thtml = html\n\t\t.replace(/^## (.*?)$/gm, '<h2 style=\"font-size: 18px; color: #041e42; margin-top: 20px; margin-bottom: 10px; border-left: 4px solid #0071ce; padding-left: 10px;\">$1</h2>')\n\t\t.replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"font-weight: bold; color: #041e42;\">$1</strong>')\n\t\t.replace(/^- (.*?)$/gm, '<li style=\"margin-bottom: 5px; font-size: 16px;\">$1</li>');\n\n\t// Agrupar <li> en <ul>\n\tconst grouped = [];\n\tlet current = [];\n\tfor (const line of html.split('\\n')) {\n\t\tif (line.startsWith('<li')) current.push(line);\n\t\telse {\n\t\t\tif (current.length) {\n\t\t\t\tgrouped.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">', ...current, '</ul>');\n\t\t\t\tcurrent = [];\n\t\t\t}\n\t\t\tgrouped.push(line);\n\t\t}\n\t}\n\tif (current.length) grouped.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">', ...current, '</ul>');\n\thtml = grouped.join('\\n');\n\n\t// Tablas Markdown → HTML\n\thtml = html.replace(/((?:^\\|.*\\|\\s*\\n?)+)/gm, match => {\n\t\tconst rows = match.trim().split('\\n').map(r => r.trim().split('|').filter(c => c.trim()));\n\t\tconst header = rows[0], body = rows.slice(1).filter(r => !r.every(c => /^-+$/.test(c)));\n\t\tconst thead = `<thead><tr>${header.map(h => `<th>${h.trim()}</th>`).join('')}</tr></thead>`;\n\t\tconst tbody = `<tbody>${body.map(row => `<tr>${row.map(c => `<td>${c.trim()}</td>`).join('')}</tr>`).join('')}</tbody>`;\n\t\treturn `<table class=\"markdown-table\">${thead}${tbody}</table>`;\n\t});\n\n\t// Saltos de línea\n\thtml = html.replace(/\\n/g, '<br/>')\n\t           .replace(/<\\/h[12]><br\\/>/g, m => m.replace('<br/>', ''))\n\t           .replace(/<\\/ul><br\\/>/g, '</ul>');\n\n\t//------------------------------------------------------------\n\t// 2. TEMPLATE con tu cabecera y pie de página corporativos\n\t//------------------------------------------------------------\n\tconst formattedHTML = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Resumen RFP</title>\n<style>\n  /* ====== ESTILOS ORIGINALES (sin cambios) ====== */\n  body {font-family:'Arial',sans-serif;background-color:#f4f6f8;margin:0;color:#2c3e50;}\n  .container{max-width:700px;margin:40px auto;background:#fff;border-radius:8px;box-shadow:0 2px 8px rgba(44,62,80,0.07);padding:0 0 30px;}\n  .header{padding:40px 40px 20px;border-bottom:1px solid #e9ecef;text-align:left;background:#232a34;border-radius:8px 8px 0 0;}\n  .header-row{display:flex;align-items:center;gap:28px;}\n  .header-titles{display:flex;flex-direction:column;gap:2px;}\n  .header-titles .title,.header-title-main{color:#fff;}\n  .header-titles .title{font-size:24px;font-weight:600;margin-bottom:2px;}\n  .header-title-main{font-size:28px;font-weight:700;margin:0;}\n  .logo{max-width:180px;height:auto;margin-bottom:20px;}\n  .markdown-table{border-collapse:collapse;width:100%;margin:20px 0;font-size:14px;}\n  .markdown-table th,.markdown-table td{border:1px solid #ccc;padding:8px 12px;text-align:left;}\n  .markdown-table th{background-color:#0071ce;color:#fff;}\n  .markdown-table tr:nth-child(even) td{background:#f9f9f9;}\n  .footer{background:#232a34;color:#e0e0e0;padding:32px 40px 24px;border-radius:0 0 8px 8px;font-size:13px;text-align:left;margin-top:32px;}\n  .footer-logo{max-width:110px;height:auto;margin-bottom:10px;}\n  .footer-title{font-weight:700;color:#fff;margin-bottom:4px;font-size:15px;}\n  .footer-row{display:flex;gap:32px;margin-top:12px;}\n  .footer-info{flex:1;line-height:1.7;font-size:13px;color:#e0e0e0;}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- ===== CABECERA ===== -->\n    <div class=\"header\">\n      <div class=\"header-row\">\n        <img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"logo\">\n        <div class=\"header-titles\">\n          <div class=\"title\">Bienvenido a</div>\n          <div class=\"header-title-main\">IFX Networks</div>\n        </div>\n      </div>\n      <div style=\"font-size:15px;color:#d2d2d2;margin-bottom:10px;\">\n        Gracias por su interés. A continuación encontrará el resumen analítico de su RFP.\n      </div>\n    </div>\n\n    <!-- ===== CONTENIDO DINÁMICO ===== -->\n    <div style=\"padding:32px 40px;\">\n      ${html}\n    </div>\n\n    <!-- ===== PIE DE PÁGINA ===== -->\n    <div class=\"footer\">\n      <img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"footer-logo\">\n      <div class=\"footer-title\">IFX Networks</div>\n      <div class=\"footer-row\">\n        <div class=\"footer-info\">\n          25 años de experiencia en el mercado de las Telecomunicaciones.\n        </div>\n        <div class=\"footer-info\">\n          Diagonal 97 No. 17 – 60 piso 4<br>Edificio Centro Empresarial Corporativo<br>Bogotá, Colombia\n        </div>\n        <div class=\"footer-info\">\n          +57 (601) 369 3000<br>CARE: +57 (601) 369 3024\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\treturn formattedHTML;\n}\n\n// -----------------------------------------------------------------\n// ENTRADA DESDE EL NODO ANTERIOR → markdown en text/plain\n// -----------------------------------------------------------------\nconst markdownText = $input.first().json.markdown || $input.first().json.output || '';\nconst formattedHtml = formatMarkdownToHtml(markdownText);\n\n// DEVOLVER RESULTADO PARA LOS SIGUIENTES NODOS (guardar / enviar)\nreturn [\n\t{\n\t\tjson: {\n\t\t\tmarkdownText,\n\t\t\tformattedHtml,\n\t\t},\n\t},\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0],"id":"637564fa-8d99-4f7c-b13b-f2b07768fb75","name":"Convert to HTML"},{"parameters":{"toRecipients":"=cbautista@ifxcorp.com","subject":"=Resumen RFP client_empresa_demo","bodyContent":"={{ $json.formattedHtml }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[832,0],"id":"2728b95b-4a09-4db1-8b76-5228a8363876","name":"Send Mail","webhookId":"4d4b099c-c77e-49cd-924d-254b0d51e936","credentials":{"microsoftOutlookOAuth2Api":{"id":"zrNdsL9SZMvBfPt3","name":"Microsoft Outlook cbautista"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"MapData","type":"main","index":0}]]},"MapData":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Convert to HTML","type":"main","index":0}]]},"Convert to HTML":{"main":[[{"node":"Send Mail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"02e5a498-668d-4ac4-9829-c564289ebd67","triggerCount":0,"shared":[{"createdAt":"2025-09-16T20:26:39.232Z","updatedAt":"2025-09-16T20:26:39.232Z","role":"workflow:owner","workflowId":"FWkAvzzQEbgcToMj","projectId":"f6RX0bgoA61ZNo42"}],"tags":[]}