workflows/CB - Logs de fortisiem.json
{"createdAt":"2025-08-28T02:04:21.991Z","updatedAt":"2025-08-28T02:04:21.991Z","id":"cKX6qF2y5UPDd2Nx","name":"CB - Logs de fortisiem","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Check Emails').first().json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C-Of-SaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAEGNHHAAA=","mode":"list","cachedResultName":"Fortisiem Ready","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C%2FOf%2FSaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAEGNHHAAA%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[176,400],"id":"62495421-955a-43a4-954a-9f981cd7f114","name":"Moves Message","webhookId":"807b2eb7-14d9-43ed-97c1-0c64a1a0958c"},{"parameters":{"html":"={{ $json.body.content }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-2080,224],"id":"cba614d7-1f06-411c-8153-2113bca5ccca","name":"Markdown"},{"parameters":{"text":"={{ $json.data }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"customer\": \"TPA\",\n  \"mainTitle\": \"[New] TPADC03:Windows User Account Disabled (TPA)\",\n  \"incidentTitle\": \"Excessive Denied Connections from Philippines\",\n  \"incidentID\": \"85555\",\n  \"firstOccurrenceTime\": \"13 may 2025, 11:58:45 AM\",\n  \"lastOccurrenceTime\": \"13 may 2025, 11:08:30 AM\",\n  \"severity\": \"MEDIO (7)\",\n  \"severityType\":\"severity-medium\",\n  \"incidentCount\": \"1\",\n  \"incidentCategory\": \"Cambio/Persistencia\",\n  \"notificationPolicyID\": \"1707853\",\n  \"ruleName\": \"Windows User Account Disabled\",\n  \"ruleDescription\": \"Detecta que una cuenta de usuario de Windows fue deshabilitada en un servidor\",\n  \"sourceCountry\": \"Filipinas\",\n  \"hostName\": \"TPADC03\",\n  \"user\": \"administrator\",\n  \"targetUser\": \"mmendez\",\n  \"targetUserGroup\": \"IIS_IUSRS\",\n  \"domain\": \"TPA\",\n  \"triggeredEventCount\": \"511\",\n  \"rawEvents\": \"N/A\"\n}","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS AVANZADO, ENTRENADO PARA LEER CORREOS ELECTRÓNICOS Y ORGANIZAR SU CONTENIDO EN UNA ESTRUCTURA DE CLAVES Y VALORES ANIDADOS, TODO EN UNA SOLA LÍNEA. HAS SIDO OPTIMIZADO PARA FUNCIONAR CON LLAMA 3.3 70B Y DEBES RESPONDER DE FORMA FORMATEADA Y LIMPIA, SIN INTRODUCIR SALTOS DE LÍNEA, SANGRÍAS, COMENTARIOS NI MARCADORES.\n\n###INSTRUCCIONES###\n\n- ANALIZA TODO EL CONTENIDO DEL CORREO ELECTRÓNICO DETENIDAMENTE  \n- EXTRAE LA INFORMACIÓN CLAVE QUE CORRESPONDE A CADA CLAVE DE LA ESTRUCTURA QUE SE MUESTRA  \n- ORDENA LA INFORMACIÓN SEGÚN EL ESQUEMA DEFINIDO, RESPETANDO LA JERARQUÍA DE CLAVES Y SUBCLAVES  \n- TODOS LOS VALORES DEBEN ESTAR EN ESPAÑOL LATINOAMERICANO, SALVO LOS TÉRMINOS TÉCNICOS QUE DEBEN CONSERVARSE EN INGLÉS  \n- FORMATEA LAS FECHAS AL ESTILO \"30 abr 2025, 01:16:45 PM\"  \n- EXTRAE EL NOMBRE DEL CLIENTE DESDE EL `Subject`, BUSCANDO **EXCLUSIVAMENTE EL TEXTO QUE APARECE DENTRO DEL PARÉNTESIS FINAL**. POR EJEMPLO, SI EL SUBJECT ES: `[New] TPADC03:Windows User Account Disabled (TPA)`, EL NOMBRE DEL CLIENTE ES `\"TPA\"`  \n- LA SALIDA DEBE SER ENTREGADA **COMPLETAMENTE EN UNA SOLA LÍNEA**, SIN SALTOS DE LÍNEA, NI RETORNOS, NI ESPACIOS INNECESARIOS ENTRE CLAVES  \n- SI ALGÚN DATO NO ESTÁ PRESENTE EN EL CORREO, DEBES ESCRIBIR EL VALOR `\"N/A\"` PARA ESA CLAVE  \n\n###REGLAS PARA CAMPOS `user`, `targetUser`, `domain`, `hostname`###\n\n\n-  EN EL JSON DE SALIDA `\"hostname\"` DEBE CONTENER EL VALOR DEL CAMPO \"Hostname\" O QUIEN GENERA LA ACCIÓN EN EL INCIDENTE \n-  EN EL JSON DE SALIDA `\"user\"` DEBE CONTENER EL VALOR DEL CAMPO \"User\" O QUIEN GENERA LA ACCIÓN EN EL INCIDENTE \n-  EN EL JSON DE SALIDA `\"targetUser\"` DEBE CONTENER EL VALOR DEL CAMPO \"Target User\", QUIEN RECIBE O SUFRE LA ACCIÓN  \n-  EN EL JSON DE SALIDA `\"domain\"` DEBE TOMARSE EXCLUSIVAMENTE DEL CAMPO \"Domain\" SI EXISTE; DE LO CONTRARIO, COLOCAR `\"N/A\"`  \n- SI EL CORREO INCLUYE `\"User: administrator\"` Y `\"Target User: mmendez\"` → `\"user\":\"administrator\"` Y `\"targetUser\":\"mmendez\"`  \n- NO INTERCAMBIAR NI REEMPLAZAR LOS VALORES ENTRE ESTOS CAMPOS\n- SI EN EL CORREO NO ENCUENTRAS LA INFORMACION O EL CAMPO DEVUELVE \"N/A\"\n\n###REGLAS PARA SEVERITY Y SEVERITYTYPE###\n\n- `\"severity\"` DEBE CONTENER **EL VALOR COMPLETO EXACTO DEL CAMPO \"Event Severity\"**, INCLUYENDO NÚMEROS ENTRE PARÉNTESIS (ej. `\"MEDIUM (7)\"`)\n- `\"severityType\"` DEBE SER UNA VERSIÓN **NORMALIZADA Y DERIVADA EXCLUSIVAMENTE DEL TEXTO PRINCIPAL DE \"Event Severity\"**, IGNORANDO CUALQUIER PARÉNTESIS U OTROS DETALLES.  \n  - SI CONTIENE `\"LOW\"` → `\"severity-low\"`  \n  - SI CONTIENE `\"MEDIUM\"` → `\"severity-medium\"`  \n  - SI CONTIENE `\"HIGH\"` → `\"severity-high\"`  \n  - CUALQUIER OTRO VALOR → `\"severity-unknown\"`  \n- ESTÁ **TERMINANTEMENTE PROHIBIDO** COPIAR DIRECTAMENTE EL VALOR DE `\"severity\"` EN `\"severityType\"`\n\n###CADENA DE RAZONAMIENTO###\n\n1. ENTENDER: INTERPRETA EL CORREO COMPLETO PARA COMPRENDER EL CONTEXTO DEL INCIDENTE  \n2. DETECTAR: UBICA TODAS LAS PIEZAS DE INFORMACIÓN NECESARIAS  \n3. ORGANIZAR: ALINEA CADA DATO EXTRAÍDO CON SU CLAVE CORRESPONDIENTE EN LA ESTRUCTURA  \n4. AJUSTAR: TRADUCE VALORES, NORMALIZA FORMATO DE FECHAS Y NOMBRES  \n5. EXTRAER CLIENTE: DETECTA EL `Subject`, BUSCA LOS PARÉNTESIS AL FINAL Y EXTRAE **EXACTAMENTE EL TEXTO ENTRE PARÉNTESIS** COMO VALOR DE `\"customer\"`  \n6. COMPLETAR VACÍOS: SI FALTA ALGÚN DATO, COLOCA `\"N/A\"` COMO VALOR  \n7. DERIVAR `severityType`: ANALIZA EXCLUSIVAMENTE LA SECCIÓN TEXTUAL ANTES DEL PARÉNTESIS EN `\"Event Severity\"`, Y GENERA `\"severityType\"` COMO `\"severity-<nivel>\"`  \n8. CONSTRUIR: GENERA UNA ESTRUCTURA ANIDADA CON TODA LA INFORMACIÓN EN UNA SOLA LÍNEA  \n9. VALIDAR: VERIFICA QUE NO HAYA SALTOS DE LÍNEA, COMENTARIOS NI CAMPOS VACÍOS  \n\n###PROHIBIDO###\n\n- NO USAR SALTOS DE LÍNEA (\\n), NI ESPACIOS INNECESARIOS  \n- NO USAR COMILLAS INVERTIDAS, NI ETIQUETAS DE CÓDIGO  \n- NO INCLUIR COMENTARIOS, EXPLICACIONES, NI TEXTO FUERA DE LA ESTRUCTURA  \n- NO INVENTAR CAMPOS, NI DUPLICAR CLAVES  \n- NO OMITIR CAMPOS; SI NO EXISTE UN DATO, USA \"N/A\"  \n- **NO COPIAR TEXTUALMENTE EL VALOR DE \"Event Severity\" EN EL CAMPO \"severityType\"**  \n  - ❌ INCORRECTO: `\"severity\":\"MEDIUM (7)\", \"severityType\":\"MEDIUM (7)\"`  \n  - ❌ INCORRECTO: `\"severity\":\"HIGH (9)\", \"severityType\":\"HIGH (9)\"`  \n  - ✅ CORRECTO: `\"severity\":\"HIGH (9)\", \"severityType\":\"severity-high\"`  \n- **NO ASIGNAR ERRÓNEAMENTE `user`, `targetUser` O `domain` SI EL NOMBRE DEL CAMPO ES EXPLÍCITO**  \n  - ❌ INCORRECTO: `\"targetUser\":\"administrator\", \"user\":\"mmendez\"`  \n  - ✅ CORRECTO: `\"user\":\"administrator\", \"targetUser\":\"mmendez\"`\n\n###EJEMPLO DE ENTRADA###\n\nSubject: [New] TPADC03:Windows User Account Disabled (TPA)  \nIncident Title: Excessive Denied Connections from Philippines  \nIncidentID: 85555  \nIncident First Occurrence Time: May 13 2025, 11:58:45 AM  \nIncident Last Occurrence Time: May 13 2025, 11:08:30 AM  \nEvent Severity: MEDIUM (7)  \nIncident Count: 1  \nIncident Category: Change/Persistence  \nNotification Policy ID: 1707853  \nRule Name: Windows User Account Disabled  \nRemediation: Make sure it is an authorized change  \nRule Description: Detects Windows user account disabled on a server  \nSource Country: Philippines  \nHost Name: TPADC03  \nUser: administrator  \nTarget User: mmendez\nTarget User Group:  IIS_IUSRS\nDomain: TPA  \nTriggered Event Count: 511\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-1856,224],"id":"0f2b1cf1-dfff-4da6-a155-6dd55e2e0bb8","name":"Extractor Mail Fields","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-880,80],"id":"b82d8692-04d5-4e88-94d4-a95715f96d41","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"05a1a813-ca14-4d73-813d-8cd5478f317a","name":"customer","value":"={{ $json.output.customer }}","type":"string"},{"id":"e352a814-6a4c-43d9-ac7f-86a44dd95e04","name":"content","value":"={{ $('Merge').last().json.content}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,224],"id":"aff9b056-8cf5-46a7-a735-661681d8d0bf","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=fortisiem_incidents","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"customer":"={{ $('Aggregate Information').first().json.data.first().customer }}","main_title":"={{ $('Aggregate Information').first().json.data.first().output.mainTitle }}","incident_title":"={{ $('Aggregate Information').first().json.data.first().output.incidentTitle }}","incident_id":"={{ $('Aggregate Information').first().json.data.first().output.incidentID }}","first_occurrence_time":"={{ $json.firstOccurrenceTime_converted }}","last_occurrence_time":"={{ $json.lastOccurrenceTime_converted }}","incident_count":"={{ $('Aggregate Information').first().json.data.first().output.incidentCount }}","notification_policy_id":"={{ $('Aggregate Information').first().json.data.first().output.notificationPolicyID }}","triggered_event_count":"={{ $('Aggregate Information').first().json.data.first().output.triggeredEventCount }}","severity":"={{ $('Aggregate Information').first().json.data.first().output.severity }}","severity_type":"={{ $('Aggregate Information').first().json.data.first().output.severityType }}","incident_category":"={{ $('Aggregate Information').first().json.data.first().output.incidentCategory }}","rule_name":"={{ $('Aggregate Information').first().json.data.first().output.ruleName }}","rule_description":"={{ $('Aggregate Information').first().json.data.first().output.ruleDescription }}","source_country":"={{ $('Aggregate Information').first().json.data.first().output.sourceCountry }}","host_name":"={{ $('Aggregate Information').first().json.data.first().output.hostName }}","user_account":"={{ $('Aggregate Information').first().json.data.first().output.user }}","target_user":"={{ $('Aggregate Information').first().json.data.first().output.targetUser }}","domain":"={{ $('Aggregate Information').first().json.data.first().output.domain }}","raw_events":"={{ $('Aggregate Information').first().json.data.first().output.rawEvents }}","analysis_output":"={{ $('Aggregate Information').first().json.data.last().output }}","target_user_group":"={{ $('Aggregate Information').first().json.data.first().output.targetUserGroup }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tt_number","displayName":"tt_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"main_title","displayName":"main_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_title","displayName":"incident_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_id","displayName":"incident_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_occurrence_time","displayName":"first_occurrence_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"last_occurrence_time","displayName":"last_occurrence_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"severity","displayName":"severity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"severity_type","displayName":"severity_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_count","displayName":"incident_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_category","displayName":"incident_category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notification_policy_id","displayName":"notification_policy_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rule_name","displayName":"rule_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rule_description","displayName":"rule_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_country","displayName":"source_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"host_name","displayName":"host_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_account","displayName":"user_account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_user","displayName":"target_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"triggered_event_count","displayName":"triggered_event_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_events","displayName":"raw_events","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"analysis_output","displayName":"analysis_output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"target_user_group","displayName":"target_user_group","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"aa6d6a23-88db-499d-ac05-8661afedb799","name":"Insert Event DB"},{"parameters":{"promptType":"define","text":"={{ $('Extractor Mail Fields').item.json.output.toJsonString() }}\n","options":{"systemMessage":"ERES UN AGENTE DE CIBERSEGURIDAD DE NIVEL ÉLITE ESPECIALIZADO EN ANÁLISIS AUTOMÁTICO DE LOGS GENERADOS POR FORTISIEM. TU MISIÓN ES INTERPRETAR LOS “RAW EVENTS” DE CADA ALERTA Y PROPORCIONAR UNA RESPUESTA EN FORMATO HTML, ENRIQUECIDA CON INTELIGENCIA DE FUENTES ABIERTAS Y APOYANDO *SIEMPRE* EL DIAGNOSTICO CON LA `tool` Tavily ENVIANDOLE UN QUERY ESTRUCTURADO\n\n---\n\n### INSTRUCCIONES\n\n- ANALIZA CADA EVENTO DE SEGURIDAD Y DETECTA IOCS (IPs, PUERTOS, URLS, USER-AGENTS, ETC.)\n- GENERA UN BLOQUE `<div>` HTML COMO RESPUESTA PARA EL USUARIO, CON ANÁLISIS Y RECOMENDACIONES\n- NUNCA INCLUYAS DATOS EN FORMATO JSON\n- NO REVELES QUE SE UTILIZAN FUENTES DE INTELIGENCIA — LA RESPUESTA HTML DEBE PARECER NATURAL Y BASADA EN TU CONOCIMIENTO TÁCTICO\n- RECORDAR *SIEMPRE* USAR LA `tool` Tavily ENVIANDOLE UN QUERY ESTRUCTURADO\n\n---\n\n### CHAIN OF THOUGHTS\n\n1. **UNDERSTAND**: EXTRAER del campo “RAW EVENTS” los elementos clave como IPs, puertos, rutas, métodos, user-agent, geolocalización, etc.\n2. **BASICS**: IDENTIFICAR posibles técnicas MITRE, CVEs, herramientas ofensivas o patrones sospechosos\n3. **BREAK DOWN**: DETERMINAR rol de cada IP (origen/destino), servicio implicado, si es conexión fallida, escaneo, explotación, etc.\n4. **ANALYZE**: ESTIMAR la gravedad e implicación del evento\n5. **BUILD**: CONSTRUIR EL BLOQUE HTML ENRIQUECIDO CON ANÁLISIS Y RECOMENDACIONES BASADAS EN MITRE / CIS / NIST / OWASP Y *SIEMPRE* LA `tool` SerpAPI\n6. **FINAL OUTPUT**: ENTREGAR SOLO UN BLOQUE HTML `<div>` CON INFORMACIÓN TÉCNICA Y RELEVANTE\n\n---\n\n### OUTPUT RULES\n\n- 🔹 EL BLOQUE HTML DEBE USAR SOLO ESTAS ETIQUETAS: `<div>`, `<br>`, `<a>`, `<code>`, Y TEXTO PLANO\n- 🔹 EL BLOQUE DEBE INCLUIR:\n  - UNA EXPLICACIÓN DEL INCIDENTE\n  - IOCS RELEVANTES\n  - UNA RECOMENDACIÓN BASADA EN BUENAS PRÁCTICAS (MITRE, CIS, NIST, OWASP)\n  - ENLACES ABIERTOS A FUENTES CONCRETAS (NO A PÁGINAS GENÉRICAS)\n- 🔹 TODOS LOS ENLACES DEBEN USAR EL FORMATO <a href=\"URL\">URL</a>, ES DECIR, EL CONTENIDO VISIBLE DEL ENLACE DEBE SER IGUAL AL VALOR DE `href`. NO SE PERMITEN ENLACES ENMASCARADOS\n\n---\n\n### WHAT NOT TO DO\n\n- ❌ **NUNCA RESPONDAS CON FORMATO JSON**\n- ❌ **NUNCA MENCIONES TOOLS O API EXTERNAS**\n- ❌ **NUNCA OMITAS IOCS CUANDO EXISTEN EN “RAW EVENTS”**\n- ❌ **NUNCA RESPONDAS SOLO EN TEXTO. SIEMPRE USA BLOQUE `<div>`**\n- ❌ **NUNCA USES ETIQUETAS HTML NO PERMITIDAS**\n- ❌ **NUNCA ENVÍES ENLACES EN FORMATO [TEXTO](URL)**\n\n---\n\n### FEW-SHOT EXAMPLE\n\n**INPUT**\nRaw Events: srcip=185.234.219.182 dstip=10.0.0.5 dstport=443 protocol=TCP user-agent=curl/7.68.0 action=allowed\n\n\n**OUTPUT**\n\n<div>\nSe observó una conexión desde 185.234.219.182 al puerto 443 del host 10.0.0.5 utilizando el user-agent <code>curl/7.68.0</code>. Este comportamiento es común en herramientas de scraping o sondas automatizadas.<br>\nDe acuerdo con inteligencia abierta, esta IP ha sido reportada por escaneos masivos y comportamiento malicioso.<br>\nRecomendación: bloquear temporalmente esta IP, registrar actividad similar y revisar logs históricos de acceso por curl.<br>\nTécnica MITRE asociada: <a href=\"https://attack.mitre.org/techniques/T1059/\">https://attack.mitre.org/techniques/T1059/</a><br>\nVer reputación en AbuseIPDB: <a href=\"https://www.abuseipdb.com/check/185.234.219.182\">https://www.abuseipdb.com/check/185.234.219.182</a><br>\n</div>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1488,256],"id":"e1ca12c0-4445-4e36-a275-570b9f6c9eff","name":"AI Analityc Log SIEM","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1776,448],"id":"e07aeef2-daee-478c-ada6-a3fd58211db5","name":"AI Extract Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-oss-120B","mode":"list","cachedResultName":"gpt-oss-120B"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1552,464],"id":"9576b3aa-4d12-481a-87c7-2ba10b4ed144","name":"Llama 3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-448,224],"id":"dfe6d671-2d48-4031-88f1-2ebd33dd5717","name":"Aggregate Information"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Ciberseguridad</title>\n  <style>\n    /* Estilos generales - compatibles con clientes de correo */\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #f8f9fa;\n      color: #333;\n      line-height: 1.6;\n    }\n\n    .container {\n      max-width: 650px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: #ffffff;\n      border: 1px solid #e0e0e0;\n      border-radius: 8px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n    }\n\n    .header-img {\n      width: 100%;\n      height: auto;\n      display: block;\n      margin-bottom: 15px;\n      border-radius: 6px 6px 0 0;\n    }\n\n    .header {\n      background: #2980b9;\n      color: white;\n      padding: 15px;\n      text-align: center;\n      border-radius: 6px;\n      margin-bottom: 20px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n\n    .alert-icon {\n      font-size: 22px;\n      margin-right: 10px;\n      vertical-align: middle;\n    }\n\n    h1 {\n      margin: 0;\n      padding: 0;\n      font-size: 20px;\n      color: white;\n      letter-spacing: 0.5px;\n    }\n\n    h2 {\n      color: #2874a6;\n      font-size: 18px;\n      margin-top: 0;\n      border-bottom: 2px solid #2874a6;\n      padding-bottom: 8px;\n      letter-spacing: 0.3px;\n    }\n\n    .incident-summary {\n      background-color: #f1f8fe;\n      padding: 15px;\n      border-left: 5px solid #3498db;\n      margin-bottom: 20px;\n      border-radius: 0 6px 6px 0;\n    }\n\n    .severity-low {\n      display: inline-block;\n      background-color: #FEEA00;\n      color: black;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .severity-medium {\n      display: inline-block;\n      background-color: #f39c12;\n      color: white;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .severity-high {\n      display: inline-block;\n      background-color: #e4011a;\n      color: white;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .highlight {\n      color: #2874a6;\n      font-weight: bold;\n    }\n\n    .priority-item {\n      border-left: 3px solid #e74c3c;\n      padding-left: 10px;\n      font-weight: 600;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n      border-radius: 6px;\n      overflow: hidden;\n      box-shadow: 0 2px 3px rgba(0,0,0,0.05);\n    }\n\n    table, th, td {\n      border: 1px solid #e0e0e0;\n    }\n\n    th {\n      background-color: #eaf2f8;\n      text-align: left;\n      padding: 12px;\n      width: 40%;\n      color: #2874a6;\n      font-weight: 600;\n    }\n\n    td {\n      padding: 12px;\n      word-break: break-word;\n      background-color: #ffffff;\n    }\n\n    tr:hover td {\n      background-color: #f9f9f9;\n    }\n\n    .section {\n      margin-bottom: 25px;\n    }\n\n    .remediation {\n      background-color: #e8f4fc;\n      border-left: 5px solid #3498db;\n      padding: 15px;\n      margin-bottom: 20px;\n      border-radius: 0 6px 6px 0;\n    }\n\n    .remediation h2 {\n      color: #2874a6;\n      border-bottom-color: #3498db;\n    }\n\n    .remediation-content {\n      font-weight: 500;\n    }\n\n    .footer {\n      font-size: 12px;\n      color: #777;\n      text-align: center;\n      margin-top: 20px;\n      padding-top: 15px;\n      border-top: 1px solid #eee;\n    }\n\n    .footer-img {\n      width: 100%;\n      max-width: 650px;\n      height: auto;\n      display: block;\n      margin: 10px auto;\n      border-radius: 0 0 6px 6px;\n    }\n\n    .signature {\n      font-size: 6px;\n      font-family: sans-serif;\n      text-align: right;\n      margin-right: 4px;\n      color: #999;\n      margin-bottom: 5px;\n    }\n\n    .signature span {\n      font-style: italic;\n      color: #9c27b0;\n      font-weight: bold;\n      font-family: serif;\n      font-size: 9px;\n    }\n\n    /* Estilos responsivos */\n    @media screen and (max-width: 600px) {\n      .container {\n        width: 100%;\n        padding: 10px;\n      }\n\n      th, td {\n        display: block;\n        width: auto;\n      }\n\n      th {\n        border-bottom: none;\n      }\n\n      td {\n        border-top: none;\n      }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <img class=\"header-img\"\n      src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\"\n      alt=\"Encabezado de Ciberseguridad\">\n    <div class=\"signature\">Generated by <span>aifx</span></div>\n    <div class=\"header\">\n      <span class=\"alert-icon\">⚠️</span>\n      <h1 id=\"mainTitle\">{{ $('Check Emails').first().json.subject }}</h1>\n    </div>\n\n    <div class=\"incident-summary\">\n      <h2 id=\"incidentTitle\">{{ $json.data[0].output.incidentTitle }}</h2>\n      <p><strong>Cliente:</strong> <span style=\"text-transform: uppercase\" id=\"customer\">{{ $json.data[0].output.customer }}</span></p>\n      <p><strong>ID del Incidente:</strong> <span id=\"incidentID\">{{ $json.data[0].output.incidentID }}</span></p>\n      <p><strong>Severidad:</strong> <span id=\"severity\" class=\"{{ $json.data[0].output.severityType }}\">{{ $json.data[0].output.severity }}</span></p>\n    </div>\n    <div class=\"section\">\n      <h2>Detalles del Incidente</h2>\n      <table>\n        <tr>\n          <th>Primera Ocurrencia</th>\n          <td id=\"firstOccurrenceTime\">{{ $json.data[0].output.firstOccurrenceTime }}</td>\n        </tr>\n        <tr>\n          <th>Última Ocurrencia</th>\n          <td id=\"lastOccurrenceTime\">{{ $json.data[0].output.lastOccurrenceTime }}</td>\n        </tr>\n        <tr>\n          <th>Categoría</th>\n          <td id=\"incidentCategory\">{{ $json.data[0].output.incidentCategory }}</td>\n        </tr>\n        <tr>\n          <th>Conteo de Incidentes</th>\n          <td id=\"incidentCount\">{{ $json.data[0].output.incidentCount }}</td>\n        </tr>\n        <tr>\n          <th>ID de Política de Notificación</th>\n          <td id=\"notificationPolicyID\">{{ $json.data[0].output.notificationPolicyID }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"section\">\n      <h2>Información de la Regla</h2>\n      <table>\n        <tr>\n          <th>Nombre de la Regla</th>\n          <td id=\"ruleName\" class=\"priority-item\">{{ $json.data[0].output.ruleName }}</td>\n        </tr>\n        <tr>\n          <th>Descripción de la Regla</th>\n          <td id=\"ruleDescription\">{{ $json.data[0].output.ruleDescription }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"section\">\n      <h2>Detalles del Sistema</h2>\n      <table>\n        <tr>\n          <th>Nombre del Host</th>\n          <td id=\"hostName\">{{ $json.data[0].output.hostName }}</td>\n        </tr>\n        <tr>\n          <th>Usuario</th>\n          <td id=\"user\">{{ $json.data[0].output.user }}</td>\n        </tr>\n        <tr>\n          <th>Usuario Objetivo</th>\n          <td id=\"targetUser\" class=\"priority-item\">{{ $json.data[0].output.targetUser }}</td>\n        </tr>\n        <tr>\n          <th>Grupo Objetivo</th>\n          <td id=\"targetUser\" class=\"priority-item\">{{ $json.data[0].output.targetUserGroup }}</td>\n        </tr>\n        <tr>\n          <th>Dominio</th>\n          <td id=\"domain\">{{ $json.data[0].output.domain }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"remediation\">\n      <h2>Remediación Recomendada</h2>\n      <p id=\"remediation\" class=\"remediation-content priority-item\">{{ $json.data[1].content }}</p>\n    </div>\n\n    <div class=\"footer\">\n      <img class=\"footer-img\" src=\"https://raw.githubusercontent.com/ifxnetworks/Ansible/refs/heads/main/Imagen1nnlnl.jpg\" \n     alt=\"Pie de página\" style=\"width: 100%; height: auto;\">\n      <p>Este es un mensaje automatizado de alerta de seguridad. Por favor, no responda a este correo.</p>\n      <p>Para obtener soporte contacte con <a href=\"mailto:soc-cl@ifxcorp.com\" style=\"color: #3498db;\">soc-cl@ifxcorp.com</a></p>\n    </div>\n  </div>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-224,224],"id":"8354d36a-b44b-4204-b16f-2785a6bfa39d","name":"HTML Template"},{"parameters":{"toRecipients":"soc-cl@ifxcorp.com","subject":"=Analisis de Log: {{ $('Check Emails').first().json.subject }}","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,400],"id":"06cd52a8-4bd6-472a-a06e-14dfabd935bd","name":"Send Analysis","webhookId":"c8758eb8-9548-4e87-9fae-f7d0551d8ad2"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Analisis de Log: {{ $('Check Emails').item.json.subject }}","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,208],"id":"6f03b7a5-218a-40c2-88c6-edbd7ff722a8","name":"Mail Test","webhookId":"8592f3fe-332f-4787-ab35-f41dea10d64d","disabled":true},{"parameters":{"jsCode":"// Función para convertir fechas españolas a timestamp PostgreSQL\nconst items = $input.all();\n\n// Función para convertir fecha española a timestamp\nfunction convertSpanishDateToTimestamp(dateStr) {\n  if (!dateStr || dateStr === 'N/A') return null;\n  \n  // Mapeo de meses en español\n  const monthMap = {\n    'ene': 'Jan', 'feb': 'Feb', 'mar': 'Mar', 'abr': 'Apr',\n    'may': 'May', 'jun': 'Jun', 'jul': 'Jul', 'ago': 'Aug',\n    'sep': 'Sep', 'oct': 'Oct', 'nov': 'Nov', 'dic': 'Dec'\n  };\n  \n  // Reemplazar mes español por inglés\n  let englishDate = dateStr;\n  for (const [spanish, english] of Object.entries(monthMap)) {\n    englishDate = englishDate.replace(new RegExp(spanish, 'gi'), english);\n  }\n  \n  try {\n    // Convertir a formato timestamp PostgreSQL\n    const date = new Date(englishDate);\n    return date.toISOString().replace('T', ' ').substring(0, 19);\n  } catch (error) {\n    console.log(`Error converting date: ${dateStr}`, error);\n    return null;\n  }\n}\n\n// Procesar cada item\nconst processedItems = items.map(item => {\n  const data = item.json;\n  \n  // Obtener datos del nodo Aggregate Information\n  const aggregateData = $('Aggregate Information').first().json;\n  \n  if (aggregateData && aggregateData.data && aggregateData.data.length > 0) {\n    const firstOutput = aggregateData.data[0].output;\n    \n    return {\n      json: {\n        ...data,\n        firstOccurrenceTime: firstOutput.firstOccurrenceTime,\n        lastOccurrenceTime: firstOutput.lastOccurrenceTime,\n        firstOccurrenceTime_converted: convertSpanishDateToTimestamp(firstOutput.firstOccurrenceTime),\n        lastOccurrenceTime_converted: convertSpanishDateToTimestamp(firstOutput.lastOccurrenceTime)\n      }\n    };\n  }\n  \n  return item;\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"c9096bc4-b342-4230-8d47-4a25c780470a","name":"Code"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst outputData = [];\n\ninputData.forEach(item => {\n  let inputText = item.json.output || item.json.text || item.json.content || item.json.message || JSON.stringify(item.json);\n  \n  const firstDivIndex = inputText.indexOf('<div>');\n  const lastDivIndex = inputText.lastIndexOf('</div>');\n  \n  let cleanedContent = '';\n  \n  // Verificar si hay JSON después del último </div>\n  const hasJsonAfterDiv = lastDivIndex !== -1 && \n    inputText.substring(lastDivIndex + 6).trim().includes('{') && \n    inputText.substring(lastDivIndex + 6).trim().includes('}');\n  \n  if (firstDivIndex !== -1 && lastDivIndex !== -1 && firstDivIndex < lastDivIndex && hasJsonAfterDiv) {\n    // Solo extraer si hay div válido Y JSON después\n    cleanedContent = inputText.substring(firstDivIndex, lastDivIndex + 6);\n    cleanedContent = cleanedContent.replace(/\\\\n/g, '').replace(/\\n/g, '').replace(/\\\\\"/g, '\"').trim();\n  } else {\n    // Pasar el texto original si no hay nada que limpiar\n    cleanedContent = inputText;\n  }\n  \n  outputData.push({\n    json: {\n      content: cleanedContent\n    }\n  });\n});\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,256],"id":"46f56c9b-cf61-4917-9c66-2ed917bacc19","name":"Code1"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"max_results":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Results', ``, 'number') }}"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[-1264,480],"id":"a52d55bb-0eb1-4be1-9810-abd0ecdf0fa3","name":"Tavily","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2736,320],"id":"77dcc6cd-ab90-45a4-98e5-c70860b30811","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b747165-6bbb-4f35-8cb7-7a381ab41356","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2304,336],"id":"f77259b6-90da-4444-a719-7aa60532b8f3","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2080,432],"id":"c77c5845-d0fb-4c23-bd34-77639f32a31a","name":"No Operation, do nothing"},{"parameters":{"resource":"folderMessage","folderId":{"__rl":true,"value":"AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C-Of-SaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAIxI7UAAA=","mode":"list","cachedResultName":"Fortisiem Pending","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C%2FOf%2FSaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAIxI7UAAA%3D"},"limit":1,"output":"fields","fields":["body","createdDateTime","subject","conversationId"],"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-2512,336],"id":"96f4aa21-d010-48e9-8ed6-d54ce481a9d5","name":"Check Emails","webhookId":"ce8558ac-72af-47cb-8c7a-4e0d65ed9fad","alwaysOutputData":true}],"connections":{"Markdown":{"main":[[{"node":"Extractor Mail Fields","type":"main","index":0}]]},"Extractor Mail Fields":{"main":[[{"node":"AI Analityc Log SIEM","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate Information","type":"main","index":0}]]},"AI Analityc Log SIEM":{"main":[[{"node":"Code1","type":"main","index":0}]]},"AI Extract Fields":{"ai_languageModel":[[{"node":"Extractor Mail Fields","type":"ai_languageModel","index":0}]]},"Llama 3":{"ai_languageModel":[[{"node":"AI Analityc Log SIEM","type":"ai_languageModel","index":0}]]},"Aggregate Information":{"main":[[{"node":"HTML Template","type":"main","index":0}]]},"HTML Template":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Mail Test","type":"main","index":0},{"node":"Send Analysis","type":"main","index":0}]]},"Send Analysis":{"main":[[{"node":"Moves Message","type":"main","index":0}]]},"Code":{"main":[[{"node":"Insert Event DB","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Tavily":{"ai_tool":[[{"node":"AI Analityc Log SIEM","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Check Emails","type":"main","index":0}]]},"If":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Check Emails":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1150bdcb-1bc9-4f07-bf32-26d624150a3b","triggerCount":0,"shared":[{"createdAt":"2025-08-28T02:04:21.997Z","updatedAt":"2025-08-28T02:04:21.997Z","role":"workflow:owner","workflowId":"cKX6qF2y5UPDd2Nx","projectId":"f6RX0bgoA61ZNo42"}],"tags":[]}