workflows/Reportes Soc Ips greynoise.json
{"createdAt":"2025-07-08T15:45:45.321Z","updatedAt":"2025-07-18T02:14:52.000Z","id":"of39lcVzAPxEreSX","name":"Reportes Soc Ips greynoise","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-240],"id":"83259297-071f-4c09-b14b-2f18dff902f1","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.greynoise.io/v3/community/{{ $json.ips }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-120],"id":"2a80a9c2-2514-45cc-ab82-9ae4a098a06a","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"9bH7eHISWamh8auL","name":"Header GreyNoise API Key"}}},{"parameters":{"assignments":{"assignments":[{"id":"39dc7993-4c40-4a8d-a5b4-e1152f1e8d51","name":"ips","value":"=[\n\"101.36.120.74\",\n\"106.75.12.9\",\n\"106.75.32.50\",\n\"106.75.37.112\",\n\"106.75.63.219\",\n\"118.26.36.130\",\n\"141.98.11.89\",\n\"152.32.135.62\",\n\"159.89.124.112\",\n\"185.165.191.26\",\n\"194.50.16.198\",\n\"207.90.244.22\",\n\"207.90.244.25\",\n\"207.90.244.5\",\n\"66.240.219.146\",\n\"71.6.135.131\",\n\"71.6.146.130\",\n\"71.6.199.23\",\n\"80.82.77.139\",\n\"80.82.77.33\",\n\"84.239.42.136\",\n\"86.54.31.32\",\n\"86.54.31.38\",\n\"86.54.31.42\",\n\"87.121.84.179\",\n\"89.248.172.16\",\n\"93.174.95.106\",\n\"94.102.49.193\"\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,-240],"id":"ff36137e-0c27-49b5-b636-889d7c292032","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,-240],"id":"90cb12ca-0b77-484f-be0d-55a0f19d67e9","name":"Loop Over Items"},{"parameters":{"jsCode":"const ips = items[0].json.ips;\n\nreturn ips.map(url => {\n  return {\n    json: {\n      ips: url\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-240],"id":"840cc11c-49d6-4207-9987-0efaeba40daf","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,-120],"id":"5e5e24fd-897e-4ca5-a3d1-c37248c1f169","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9d12ad03-88f0-4616-ba28-d5fa780098a2","triggerCount":0,"shared":[{"createdAt":"2025-07-08T15:45:45.328Z","updatedAt":"2025-08-13T15:10:47.000Z","role":"workflow:owner","workflowId":"of39lcVzAPxEreSX","projectId":"f6RX0bgoA61ZNo42"}],"tags":[]}